<html>
<head>
  <title>注册</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
<div class="main-content">
  <div class="login-text"><a class="no-active" href="/index/login">登录</a> · <a class="active" href="/index/reg">注册</a></div>
  <div class="username-input">
    <input class="username-content" type="text" name="username" id="username" placeholder="注册账号">
  </div>
  <div class="password-input">
    <input class="username-content" type="password" name="password" id="password" placeholder="注册密码">
  </div>
   <div class="password-input">
    <input class="password-content" type="password" name="confirm_password" id="confirm_password" placeholder="确认密码">
  </div>
  <div class="commit-input">
    <input class="login-commit" type="submit" name="commit" id="commit" value="注册">
  </div>
</div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#commit').click(function(){
      username = $('#username').val();
      if (username == '') {
        alert('请输入账号');
        return;
      }
      password = $('#password').val();
      if (password == '') {
        alert('请输入密码');
        return;
      }

      confirm_password = $('#confirm_password').val();
      if(confirm_password != password) {
        alert('密码不一致');
        return;
      }

      $.post('/api/reg', {username:username,password:password},function(data){
        data = JSON.parse(data);

        if (data.code != 200) {
          alert(data.message);
        } else {
          $(location).attr('href', '/');
        }
      });
    });
  });
</script>
</html>